[submodule "src/protify/base_models/FastPLMs"]
	path = src/protify/base_models/FastPLMs
	url = https://github.com/Synthyra/FastPLMs.git
[submodule "src/protify/visualization/pauc"]
	path = src/protify/visualization/pauc
	url = https://github.com/srijitseal/pauc.git
